@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.bg-general {
  background-color: #111;
  opacity: 0.9;
  background-image: radial-gradient(#202020 1.5px, #131313 0);
  background-size: 20px 20px;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #2c3e50;
}

::-webkit-scrollbar-track {
  background: #1f2933;
}

::-webkit-scrollbar-thumb {
  background-color: #3498db;
  border-radius: 6px;
  border: 3px solid #1f2933;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2980b9;
}
